# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
ENV/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/

# Static files collected
staticfiles
static_root/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Test coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Other
*.sqlite3

# vim
*.sw*

# dotenv
.env

# Node
node_modules/
