:root {
    --club-pink: 247, 172, 212;
    --club-blue: 192, 239, 255;
    --background: url('../imgs/background.gif');
    --default-font-sz: 16px;
    --page-margin: 64px;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.6s ease-in forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@font-face {
    font-family: 'VCR MONO';
    src:
        local('VCR MONO'),
        url('../fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'SFAlien';
    src:
        local('SFAlien'),
        url('../fonts/SFAlienEncounters.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Adventurer';
    src:
        local('Adventurer'),
        url('../fonts/Adventurer.ttf') format('truetype');
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
    background: var(--background) no-repeat center center fixed;
    background-size: cover;
    background-color: black;
    font-family: 'Adventurer' !important;
    display: flex;
    flex-direction: column;
    text-align: left;
}

p {
    font-size: 18px;
    margin: 20px calc(var(--page-margin) + 32px);
}
h1 {
    font-size: 36px;
    text-align: center;
}
h2 {
    font-size: 24px;
    margin: 10px var(--page-margin);
}

h3 {
    font-size: 20px;
    margin: 10px var(--page-margin);
}

.default-font-behavior {
}

img {
    display: inline-block;
}

button {
    width: 25px;
    height: 25px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.main-menu {
    position: relative;
    font-size: var(--default-font-sz);
    cursor: pointer;
    padding: 6px;
}

.menu-dropdown {
    display: none;
    position: absolute;
    top: 50%;
    left: 20px;
    background: rgba(var(--club-pink), 1);
    border-radius: 8px;
    box-shadow:
        0 0 5px rgba(255, 255, 255, 0.8),
        0 0 8px rgba(255, 255, 255, 0.5),
        0 0 13px rgba(255, 255, 255, 0.3);
    padding: 10px;
    flex-direction: column;
    text-align: center;
    z-index: 100;
}

.menu-dropdown a {
    display: block;
    font-family: 'VCR MONO', sans-serif;
    color: lightblue;
    text-decoration: none;
}

.menu-dropdown a:hover {
    color: rgba(var(--club-pink), 1);
    text-shadow:
        0 0 3px rgba(0, 255, 0, 0.8),
        0 0 5px rgba(0, 255, 0, 0.5),
        0 0 8px rgba(0, 255, 0, 0.3);
}

.main-menu:hover .menu-dropdown {
    display: flex;
}
.socials-links {
    display: flex;
    gap: 3px;
}

.socials-links a img {
    vertical-align: middle;
    width: 25px;
    height: 25px;
}

ul {
    display: table;
    margin: 0 auto;
}

form {
    display: table;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.brand-text {
    font-family: 'SFAlien', sans-serif;
}

.twitterPng {
    margin-left: 2px;
    margin-right: 2px;
}

a {
    color: rgba(var(--club-pink), 1);
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: rgba(192, 239, 255, 1);
    text-shadow:
        0 0 3px rgba(0, 255, 0, 0.8),
        0 0 5px rgba(0, 255, 0, 0.5),
        0 0 8px rgba(0, 255, 0, 0.3);
}

* {
    box-sizing: border-box;
}

@media (max-width: 670px) {
    .body-bg {
        background-image: none;
    }
}

body > main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content-wrapper {
    width: 80%;
    max-width: 1280px;
    background-color: lightblue;
    padding: 0px 5px 20px 5px;
    border-radius: 15px;
    margin: 30px auto;
    min-height: 90vh;
    box-shadow:
        0 0 30px rgba(var(--club-pink), 0.8),
        0 0 50px rgba(var(--club-pink), 0.5),
        0 0 80px rgba(var(--club-pink), 0.3);
}

#page-transition {
    transition: opacity 0.3s ease-in-out;
}
#page-transition.fade-out {
    opacity: 0;
}
