@font-face {
    font-family: "VCR MONO";
    src: local('VCR MONO'),
         url('../fonts/VCR_OSD_MONO_1.001.ttf') format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "SFAlien";
    src: local('SFAlien'),
         url('../fonts/SFAlienEncounters.ttf') format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Adventurer";
    src: local('Adventurer'),
         url('../fonts/Adventurer.ttf') format("truetype");
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('../imgs/background.gif') no-repeat center center fixed;
    background-size: cover;
    font-family: "Adventurer" !important;
    display: flex;
    flex-direction: column;
    text-align: center;
}

p {
    display: inline-block;
    max-width: 400px;
}

h1 {
    display: inline-block;
    max-width: 400px;
}

img { 
    display: inline-block; 
    margin-right: 2px;
}

button {
    width: 25px;
    height: 25px;
}

.header-links {
    float: right;
}

ul {
    display: table;
    margin: 0 auto;
}

form {
    display: table;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.brand-text {
    font-family: "SFAlien";
}

.header-text {
    background-color: lightblue;
    max-width: 600px;
    display: inline-block;
    text-align: inherit;
    margin-top: 0px;
    margin-left: 64px;
}

.twitterPng {
    margin-left: 2px;
    margin-right: 2px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (max-width:670px) {
    .body-bg {
        background-image: none;
    }
}

body > main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content-wrapper {
    width: 80%;
    max-width: 1280px;
    background-color: lightblue;
    padding: 30px;
    border-radius: 15px;
    margin: 30px auto;
    min-height: 90vh;
    box-shadow: 0 0 30px rgba(247, 172, 212, 0.75),
                0 0 60px rgba(247, 172, 212, 0.6),
                0 0 80px rgba(247, 172, 212, 0.4);
}
