{% extends 'base.html' %}
{% load static %}

{% block content %}

<header class="header">
    <h1>Welcome to my nightclub.</h1>
</header>

<section class="landing-section landing-main">
    <div class="landing-section-content">
        <div class="body-bg">
            <h2 class="brand">What makes it a nightclub, you ask?</h2>
            <h3>
                <span class="brand-text">N</span>othing
                <span class="brand-text">R</span>eally :3
            </h3>
            <p class="landing-main-text">
            This is just an opportunity for me to practice some tech I don't touch on the job.
            Most of my professional work has been on and with C++ projects, so I'm branching out a bit.
            The goal here was primarily to familiarize myself with the 
            <a href="https://www.djangoproject.com/">Django web framework</a>.
            <br><br>
            Please don't judge my css/html skills :(
            </p>
        </div>
    </div>
</section>

<section class="body-bg landing-section landing-features">
    <section class="landing-feature">
        <h2>In the future, I might add some <span class="brand-text">stuff</span> here.<br><br>
            I'm pretty happy with how elements wrap on this page. try mobile :D
        </h2>
        <ul>
            <li>haha</li>
            <li>nice list</li>
        </ul>
    </section>
</section>

{% endblock %}
